:root{
    --theme-color: white;
    --primary-color: #0a79c4;
    --secundary-color: rgb(8, 157, 207);
    --text-color-inverse: white;
    --text-color: black;
    --navbar-shallow-color:#e5e5e5;
    --menu-mobile-background-color: grey;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
    padding-top: 70px;

}

a{
     text-decoration: none;
     color: var(--text-color); 
}

.horizontal-padding{
    padding-left: 70px;
    padding-right: 70px;
}
.vertical-padding{
    padding-bottom: 70px;
    padding-top: 70px;
}

@media (min-width:950px) {
    .horizontal-padding{
        padding-left: 25px;
        padding-right: 25px;
    }
    .vertical-padding{
        padding-bottom: 25px;
        padding-top: 25px;
    }
}