.toheader{
    position: fixed;
    box-shadow: 0 4px 5px var(--navbar-shallow-color);
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: white;
}

.topnav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    max-width: 980px;
    margin: 0 auto;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 200;
    color: var(--primary-color)
}

.logo img{
    width: 60px;
    height: 50px;
    border-radius: 50%;
}
.text-logo{
    margin-left: 10px;
}
.menu{
     display: flex;
     list-style: none;
     margin: 0;
     padding: 0;
}

.menu li{
    padding: 0 12px;
}

.menu a{
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 50px;
    text-transform: uppercase;
    position: relative;
}
.menu a::after{
    content: "";
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    top: calc(100% + 4px);
    width: 100%;
    height: 4px;
    opacity: 0;
    transition: opacity 0.3s;
}
.menu a.selected::after, .menu a:hover::after{
    opacity: 0.8;
}

.open-menu,
.close-menu{
 display: none;
}

@media (max-width: 950px) {
    .open-menu,
    .close-menu{
     display: block;
     border: none;
     background: none;
     cursor: pointer;
    }
    .menu{
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
       align-items: center;
       background-color: #0a79c4;
       height: 100%;
       overflow-y: auto;
       opacity: 0;
       pointer-events: none;
       transition: opacity 0.3s;
    }
    
    .menu li{
        padding: 0;
    }
    
    .menu a{
        color: var(--text-color-inverse);
        line-height:70px;
        font-size: 25px;
    } 
    

    .close-menu{
        align-self: flex-end;
        padding: 17px 16px;
   }
   .menu_opened{
    opacity: 1;
    pointer-events: all;
   }

   .open-menu:focus:not(:focus-visible),
   .open-menu:focus:not(:focus-visible){
    outline: none;
   }
   .menu a::after{
    content: none;
    }
    .menu a.selected,
    .menu a:hover{
        color: black;
    }
}